@media(max-width: 533px) {
    hr {
        width: 40%;
    }

    #navbar .navLinks {
        display: none;
    }

    #navbar h1 {
        display: none;
    }

    #navbar {
        display: block;
        text-align: right;
    }

    a, a .burger-menu {
        display: inline-block;
        width: 25px;
        height: 25px;
    }

    .burger-menu:hover {
        cursor: pointer;
    }

    #hero .hero-content {
        padding-top: 90px;
    }

    .flex-dan-img {
        margin-right: 0px;
    }

    .about-container p {
        padding: 0px 20px 0px 30px;
        margin-top: 50px;
    }

    .about-text {
        padding-bottom: 50px;
    }

    .portfolio-container {
        max-width: 300px;
        text-align: center;
    }

    .showcase-flex-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
    }

    .showcase-flex-container a {
        width: 70%;
    }
}

@media(max-width: 321px) {
    .about-container p {
        min-width: 320px;
    }
}
