/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #810000;
    color: white;
    height: 50px;
}

nav h1 {
    display: none;
}

nav ul {
    display: none;
}

nav ul li {
    display: inline-block;
}

nav .myLink {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    border: 1px solid transparent;
}

nav li a:hover {
    border-color: white;
}

.hamburger-icon {
    padding: 10px 8px;
    color: white;
    float: right;
    font-size: 25px;
}

.section-portfolio .row {
    display: flex;
    justify-content: space-between;
}

.section-about {
    display: none;
    padding-top: 20px;
}

.section-portfolio {
    padding-top: 20px;
}

.portfolio-showcase {
    height: 300px;
    width: 300px;
    border: 1px solid #545454;
    display: inline-block
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

@media(min-width: 500px) {
    .section-about {
        display: block;
    }

    nav {
        height: 60px;
    }

    nav h1 {
        display: block;
        float: left;
        padding: 15px;
    }

    nav ul {
        display: block;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        list-style: none;
        float: right;
    }

    nav:after {
        content: "";
        clear: both;
        display: table;
    }

    .hamburger-icon {
        display: none;
    }
} */

/* Border around nav li overlaps the about section. I could solve this
with padding in the about section but not sure if this is the best way  */

/* unsure of the best way to space out the boxes in the portfolio-showcase section */

/* used rows for now to help styling - took it from a previous course, not sure what max-width is doing,
if I remove it, everything shifts to the left, not sure why */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
}

#navbar {
    color: #555;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#navbar h1 {
    padding-top: 6px;
    font-weight: 300;
}

#navbar .navLinks {
    display: flex;
    list-style: none;
}

/* #navbar li {
    margin-left: 40px;
} */

#navbar .myLink {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color:#555;
    border-bottom: 2px solid #fff;
}

#navbar .myLink:hover {
    border-bottom: 2px solid #555;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bc.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

#hero .hero-content {
    text-align: center;
    color: #fff;
    padding-top: 170px;
}

#hero h1 {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 40px;
}

#about {
    background-color: #E1E5EA;
    padding: 20px 0;
}

#portfolio {
    background-color: #E1E5EA;
    height: 500px;
}

hr {
    border: 1px solid#DA7F8F;
    margin: 0 auto;
    width: 15%;
}

.about-text h2 {
    color: #DA7F8F;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.about-text h3 {
    color: #DA7F8F;
    font-size: 20px;
    font-weight: 300;
    width: 120px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DA7F8F;
    text-align: left;
}

.about-text {
    /* width: 50%; */
    /* margin: 0 auto; */
    text-align: center;
}

.about-text ul {
    color: #DA7F8F;
    list-style: none;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 50px;
    /* margin-top: 20px;
    margin-left: 20px; */
}

.about-text ul li {
    line-height: 145%;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.dan-img {
    padding-top: -20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    top: -45px;
    left: 22px;
}

.experience, .skills {
    display: inline-block;
}

.experience {
    padding-left: 40px;
}

.portfolio h3 {
    color: #DA7F8F;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
