* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
}

hr {
    border: 1px solid#DA7F8F;
    margin: 0 auto;
    width: 10%;
}

#mobileNavLinks {
    display: none;
}

.burger-link, .burger-menu {
    display: none;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

h2 {
    color: #DA7F8F;
    font-size: 24px;
    font-weight: 50;
}

/**** Navigation ****/
#navbar {
    color: #555;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#navbar h1 {
    padding-top: 6px;
    font-weight: 300;
}

#navbar .navLinks {
    display: flex;
    list-style: none;
}

#navbar .myLink {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color:#555;
    border-bottom: 2px solid #fff;
}

#navbar .myLink:hover {
    border-bottom: 2px solid #555;
}

/**** Hero ****/
#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bc.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

#hero h1 {
    padding-bottom: 20px;
    font-weight: 100;
    font-size: 40px;
}

#hero .hero-content {
    text-align: center;
    color: #fff;
    padding-top: 170px;
}

/**** About ****/
#about {
    background-color: #E1E5EA;
    padding: 60px 0;
}

.about-text h2 {
    text-align: center;
}

.about-text {
    padding-bottom: 50px;
}

.about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-container p {
    margin-top: 60px;
    line-height: 1.8;
    color: #555;
    width: 40%;
    min-width: 350px;
}

.flex-dan-img {
    margin-top: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 30px;
    border: 2px solid #DA7F8F;
}

/**** Portfolio ****/
#portfolio {
    background-color: #E1E5EA;
}

#portfolio h2 {
    color: #DA7F8F;
    padding: 60px 0 20px 0;
    text-align: center;
}

.showcase-flex-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-container {
    background: #f4f4f4;
    border: #ccc solid 2px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    width: 25%;
    max-width: 235px;
    text-decoration: none;
    color: #555;
    position: relative;
}

.portfolio-img {
    width: 100%;
    padding: 15px;
}

.portfolio-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: hidden;
    top: 0px;
    border-radius: 8px;
    transition: all 0.9s ease-in-out;
}

.portfolio-overlay:hover {
    align-content: center;
    display: block;
    background-color: #555;
    opacity: 0.5;
}

/**** Footer ****/
#footer {
    background-color: #47597E;
    padding: 20px 0;
}

#footer ul {
    list-style: none;
    padding-bottom: 30px;
}

#footer a {
    text-decoration: none;
    padding: 20px;
}

#footer i {
    color: white;
    font-size: 25px;
}

#footer div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#footer div ul,
#footer div p {
    width: 100%;
    display: inline-block;
    color: white;
}

#footer ul li {
    display: inline-block;
}
